################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/
**/obj/

**/.idea/workspace.xml
**/target/

obj/Debug
obj/project.nuget.cache
obj/RunReport.csproj.nuget.dgspec.json
obj/RunReport.csproj.nuget.g.props
obj/RunReport.csproj.nuget.g.targets
**/vs/

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

#publish directory
publish/
AuthDB/AuthDB.jfm
AuthDB/AuthDB.dbmdl
files/output.docx
